* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: Roboto;
}
body {
   padding: 0 35px;
   max-width: 991px;
}
.head__article {
   max-width: 990px;
   height: 100vh;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}
.header__logo {
   width: 55px;
   height: 30px;
   margin-top: 36px;
   margin-bottom: 45px;
}
.head__logo__text {
   display: flex;
   justify-content:flex-start;
   margin-bottom: 10px;
}
.main__logo__text {
   font-size: 10px;
   font-weight: 400;
   line-height: 11px;
   margin-right: 12px;
}
.text__logo {
   width: 10px;
   height: 10px;
   display: inline;
}
.logo__text {
   display: inline;
}
.header__title {
   line-height: 38px;
   font-size: 37px;
   font-weight: 700;
   width: 290px;
   margin-bottom: 16px;
}
.head__main {
   display: flex;
   flex-direction: column;
   width: 100%;
}
.main__title {
   width: 85%;
}
.header__img {
   background-image: url(./logos/main.img.svg);
   width: 140px;
   height: 175px;
   position: relative;
   left: 65%;
   z-index: -1;
   margin-bottom: 40px;
}
.main__quote {
   background-color: #1e4681;
   color: #fff;
   border-radius: 3px;
   width: 225px;
   height: 95px;
   font-size: 11px;
   text-align: left;
   line-height: 14px;
   padding: 12px;
}
.main__quote__text__au {
   font-size: 10px;
   text-align: right;
   margin-top: 10px;
}

.article__section {
   height: 100vh;
   margin-top: 20px;
   width: 100wv;
}
.main__header {
   font-size: 26px;
   line-height: 26px;
   font-weight: 700;
   margin-bottom: 15px;
}
.main__text {
   font-size: 12px;
   font-weight: 400;
   line-height: 18px;
   margin-bottom: 15px;
   width: 310px;
}
.main__img {
   background-image: url(./logos/operator.svg);
   width: 170px;
   height: 160px;
   position: relative;
   left: 50%;
   transform: translate(-50%, 0);
   z-index: -1;
}
.main__description {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 80%;
}
.main__description__card {
   width: 76px;
   margin-right: 15px;
}
.card__head {
   font-size: 12px;
   font-weight: 700;
   line-height: 16px;
}
.card__text {
   font-size: 10px;
   font-weight: 400;
   line-height: 13px;
}